<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <!--    <link href = "css/styles.css" rel = "stylesheet"/>-->
    <title>Spring Boot Application</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    JavaScript Bundle with Popper
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
</head>
<body>

<div>
    <div>
        Established locale country: <span th:text="${#locale.country}">US</span>
    </div>
    <p th:text="#{home.welcome}">Welcome to our grocery store!</p>
    <table class="table">
        <tr th:each="cp,iterStat: ${closedPositions}">
            <td th:text="${iterStat.index}"></td>
            <td th:text="${cp.ticker}"></td>
            <td th:text="${cp.buyAmount}"></td>
            <td th:text="${cp.sellAmount}"></td>
            <td th:text="${cp.brokerFeeAmount}"></td>
            <td th:text="${(cp.sellAmount ?: 0) - cp.buyAmount - cp.brokerFeeAmount}"></td>
            <td th:text="${((cp.sellAmount ?: 0) - (cp.buyAmount + cp.brokerFeeAmount))*100/(cp.buyAmount + cp.brokerFeeAmount)}"></td>
        </tr>
    </table>
</div>
<div>
    <p>End</p>
</div>
</body>
</html>
